.main-subtitle {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  color: var(--color-tertiary);
  margin-bottom: 60px;
}

.main-subtitle.-zero {
  color: var(--color-zero);
  opacity: 0.8;
}

.main-subtitle.-mt{
  margin-top: 60px;
}