.main-achievements {
  padding: 0 15px 15px 15px;
}

.main-achievements .container {
  display: flex;
  width: 90%;
  height: 200px;
  margin: 0px 5%;
  background-color: var(--color-primary);
  justify-content: space-around;
  align-items: center;
}

.main-achievements .achievement {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--color-zero);
}

.main-achievements .description {
  display: block;
  font-size: 15px;
  font-weight: normal;
  opacity: 0.6;
}